<html lang="en">
<head>
  <title>TrueScrub&trade; Leaderboard</title>
</head>
<body>
<h1>TrueScrub&trade; Leaderboard</h1>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>MMR</th>
    <th>Skill Group</th>
    <th>TrueSkill</th>
  </tr>
  </thead>
  <tbody>
  {% for player in leaderboard %}
    <tr>
    <td>{{ player.steam_name }}</td>
    <td>{{ player.mmr }}</td>
    <td>{{ player.skill_group }}</td>
    <td>{{ player.skill_mean }} ± {{ player.skill_stdev }}σ</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</body>
</html>
