{% macro season_path(selected_season) -%}
  {%- if selected_season -%}
    /season/{{ selected_season }}
  {%- endif -%}
{%- endmacro %}

{% macro season_menu(url_prefix, selected_season, season_list) -%}
  <p>
    Season
    {% if selected_season %}
      <a href="{{ url_prefix }}">all</a>
    {% else %}
      <strong>all</strong>
    {% endif %}
    {% for season in season_list %}
      |
      {% if selected_season == season %}
        <strong>{{ season }}</strong>
      {% else %}
        <a href="{{ url_prefix }}/season/{{ season }}">{{ season }}</a>
      {% endif %}
    {% endfor %}
  </p>
{%- endmacro %}

{% macro percentile_estimate(player, bar_width) -%}
<div title="{{ player.lower_bound }}% &ndash; {{ player.upper_bound }}%"
     style="background: #ddd; width: {{ bar_width }}em; height: 1em; border-radius: 1em;">
  <div style="background: #444; width: {{ player.rating_width * bar_width }}em; height: 1em; border-radius: 1em; margin-left: {{ player.rating_offset * bar_width }}em;"></div>
</div>
{%- endmacro %}
