<html lang="en">
<head>
  <title>{{ steam_name }}'s Matches</title>
</head>
<body>
<h1>{{ steam_name }}'s Matches</h1>

<h2>Rounds</h2>
{% for season, rounds in rounds_by_season %}
<h3>Season {{ season }}</h3>
{% for round in rounds %}
<div>
  <h4>{{ round.created_at }}</h4>
  <div>Match quality: {{ round.quality|int }}%</div>
  <div style="display: flex;">
    <div>
      <h5>Winners</h5>
      <ul>
        {% for player in round.winner %}
        <li>{{ player.steam_name }}</li>
        {% endfor %}
      </ul>
    </div>
    <div>
      <h5>Losers</h5>
      <ul>
        {% for player in round.loser %}
        <li>{{ player.steam_name }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endfor %}
{% endfor %}

</body>
</html>
