<html lang="en">
<head>
  <title>{{ steam_name }}'s Matches</title>
</head>
<body>
<h1>{{ steam_name }}'s Matches</h1>

<h2>Rounds</h2>
{% for round in rounds %}
<div>
  <h3>{{ round.created_at }}</h3>
  <p>Match quality: {{ round.quality }}</p>
  <div style="display: flex;">
    <div>
      <h4>Winners</h4>
      <ul>
        {% for player in round.winner %}
        <li>{{ player.steam_name }}</li>
        {% endfor %}
      </ul>
    </div>
    <div>
      <h4>Losers</h4>
      <ul>
        {% for player in round.loser %}
        <li>{{ player.steam_name }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endfor %}

</body>
</html>
