{% import "macros.html" as macros -%}
<html lang="en">
<head>
  <title>{{ player.steam_name }}'s Profile</title>
</head>
<body>
<h1>{{ player.steam_name }}'s Profile</h1>

<p title="{{ player.mmr|int }}">{{ player.skill_group }}</p>
<p>{{ macros.percentile_estimate(player, 8) }}</p>

<h2>Record</h2>
<p>{{ overall_record.rounds_won }} : {{ overall_record.rounds_lost }}</p>

<p><a href="/profiles/{{ player.player_id }}/team_records">Team records</a></p>
<p><a href="/profiles/{{ player.player_id }}/matches">All matches</a></p>

<h2>Player Impact</h2>

<table>
  <thead>
  <tr>
    <th>Season</th>
    <th><abbr title="Percent of rounds MVP">MVP</abbr></th>
    <th><abbr title="Average kills per round">K</abbr></th>
    <th><abbr title="Average deaths per round">D</abbr></th>
    <th><abbr title="Average damage per round">ADR</abbr></th>
    <th><abbr title="Percent of rounds with kills, assists or survived">KAS</abbr></th>
    <th>Impact</th>
  </tr>
  </thead>
  <tbody>
  {% for season_id, season_rating in season_ratings %}
    <tr>
      <td>{{ season_id }}</td>
      <td>{{ season_rating.mvp_rating }}</td>
      <td>{{ season_rating.kill_rating }}</td>
      <td>{{ season_rating.death_rating }}</td>
      <td>{{ season_rating.damage_rating }}</td>
      <td>{{ season_rating.kas_rating }}</td>
      <td>{{ '%.2f' % skills_by_season[season_id].impact_rating }}</td>
    </tr>
  {% endfor %}
  <tr>
    <td><em>Overall</em></td>
    <td>{{ overall_rating.mvp_rating }}</td>
    <td>{{ overall_rating.kill_rating }}</td>
    <td>{{ overall_rating.death_rating }}</td>
    <td>{{ overall_rating.damage_rating }}</td>
    <td>{{ overall_rating.kas_rating }}</td>
    <td>{{ player.impact_rating }}</td>
  </tr>
  </tbody>
</table>

</body>
</html>
