{% import "macros.html" as macros -%}
<html lang="en">
<head>
  <title>{{ player.steam_name }}'s Profile</title>
</head>
<body>
<h1>{{ player.steam_name }}'s Profile</h1>

<h2>Record</h2>
<p>{{ overall_record.rounds_won }} : {{ overall_record.rounds_lost }}</p>

<h2>Player Skill</h2>

<table>
  <thead>
  <tr>
    <th>Season</th>
    <th>MMR</th>
    <th>Percentile</th>
    <th>Skill Group</th>
  </tr>
  </thead>
  <tbody>
  {% for season_id, season_player in season_skills %}
    <tr>
    <td>{{ season_id }}</td>
    <td title="{{ season_player.skill.mu|int }} ± {{ season_player.skill.sigma|int }}σ">{{ season_player.mmr|int }}</td>
    <td>{{ macros.percentile_estimate(season_player, 6) }}</td>
    <td>{{ season_player.skill_group }}</td>
    </tr>
  {% endfor %}
  </tbody>
  <tfoot>
  <tr>
    <td><em>Overall</em></td>
    <td title="{{ player.skill.mu|int }} ± {{ player.skill.sigma|int }}σ">{{ player.mmr|int }}</td>
    <td>{{ macros.percentile_estimate(player, 6) }}</td>
    <td>{{ player.skill_group }}</td>
  </tr>
  </tfoot>
</table>

<h2>Player Impact</h2>

<table>
  <thead>
  <tr>
    <th>Season</th>
    <th><abbr title="Percent of rounds MVP">MVP</abbr></th>
    <th><abbr title="Average kills per round">KPR</abbr></th>
    <th><abbr title="Average deaths per round">DPR</abbr></th>
    <th><abbr title="Average damage per round">ADR</abbr></th>
    <th><abbr title="Percent of rounds with kills, assists or survived">KAS</abbr></th>
    <th>Impact</th>
  </tr>
  </thead>
  <tbody>
  {% for season_id, season_rating in season_ratings %}
    <tr>
      <td>{{ season_id }}</td>
      <td>{{ season_rating.mvp_rating }}</td>
      <td>{{ season_rating.kill_rating }}</td>
      <td>{{ season_rating.death_rating }}</td>
      <td>{{ season_rating.damage_rating }}</td>
      <td>{{ season_rating.kas_rating }}</td>
      <td>{{ season_rating.impact_rating }}</td>
    </tr>
  {% endfor %}
  </tbody>
  <tfoot>
  <tr>
    <td><em>Overall</em></td>
    <td>{{ overall_rating.mvp_rating }}</td>
    <td>{{ overall_rating.kill_rating }}</td>
    <td>{{ overall_rating.death_rating }}</td>
    <td>{{ overall_rating.damage_rating }}</td>
    <td>{{ overall_rating.kas_rating }}</td>
    <td>{{ overall_rating.impact_rating }}</td>
  </tr>
  </tfoot>
</table>

<h2>Skill History</h2>

<div style="width: 36em; display: flex; justify-content: space-between;">
  <div id="skill-history-season-selector">
    {{ macros.season_menu("#", current_season, seasons) }}
  </div>

  <input id="toggle-rating" type="button" value="Show impact" />
</div>

<div id="skill-history" style="width: 36em; height: 18em;"></div>

<p><a href="/profiles/{{ player.player_id }}/team_records">Team records</a></p>

<script type="application/javascript" src="/htdocs/vendor/highcharts-8.0.0.js"></script>
<script type="application/javascript" src="/htdocs/vendor/highcharts-more-8.0.0.js"></script>

<script type="application/javascript">
  (function() {
    'use strict';

    const seasonSelectors = document
      .getElementById('skill-history-season-selector')
      .querySelectorAll('span.season-selector');
    const ratingToggle = document
      .getElementById('toggle-rating');
    const SKILL_GROUPS = ({{ skill_groups|tojson(indent=2) }});
    SKILL_GROUPS[0][0] = 0;
    const fetchCache = new Map();

    let selectedSeason = ({{ current_season }});
    let skillChart = null;

    function getJson(url) {
      if (fetchCache.has(url)) {
        const cached = fetchCache.get(url);
        return new Promise(() => cached);
      }
      return window.fetch(url).then(response => {
        if (!response.ok) {
          throw Error(response.statusText);
        }
        const responseJson = response.json();
        fetchCache.set(url, responseJson);
        return responseJson;
      })
    }


    function findSkillGroup(mmr) {
      const index = SKILL_GROUPS.findIndex(group => group[0] > mmr);
      return index < 0 ? SKILL_GROUPS[SKILL_GROUPS.length - 1][1] : SKILL_GROUPS[index - 1][1];
    }

    function formatChart(confidenceIntervals, mmrs, ratings) {
      const skillGroups = Object.fromEntries(SKILL_GROUPS);

      return {
        chart: {
          animation: false
        },

        legend: {
          enabled: false
        },

        title: {
          text: null,
        },

        xAxis: {
          type: 'datetime'
        },

        yAxis: [{
          title: {
            text: null
          },
          tickPositions: Object.keys(skillGroups).map(key => parseInt(key))
        }, {
          opposite: true,
          secondary: true,
          title: {
            text: null
          },
          min: 0,
          max: 2
        }],

        plotOptions: {
          scatter: {
            marker: {
              symbol: 'circle',
              radius: 2,
              fillColor: '#692429'
            }
          }
        },

        series: [{
          name: 'MMR',
          data: mmrs,
          animation: false,
          zIndex: 2,
          type: 'spline',
          marker: {
            fillColor: 'white',
            lineWidth: 2,
            lineColor: Highcharts.getOptions().colors[0]
          },
          tooltip: {
            pointFormatter: function () {
              return `<strong>${findSkillGroup(this.y)}</strong> (${Math.floor(this.y)})<br/>`;
            }
          }
        }, {
          name: 'Confidence Interval',
          data: confidenceIntervals,
          animation: false,
          type: 'areasplinerange',
          lineWidth: 0,
          linkedTo: ':previous',
          color: Highcharts.getOptions().colors[0],
          fillOpacity: 0.3,
          zIndex: 0,
          marker: {
            enabled: false
          },
          tooltip: {
            enabled: false
          }
        }, {
          name: 'Impact Rating',
          data: ratings,
          visible: false,
          animation: false,
          type: 'scatter',
          zIndex: 1,
          yAxis: 1,
          tooltip: {
            pointFormat: '<strong>{point.y:.2f}</strong>'
          }
        }]
      };
    }

    function makeConfidenceIntervals(skillHistory) {
      return Object.keys(skillHistory).map(skillDate => [
        +new Date(skillDate),
        skillHistory[skillDate].skill_mean - 2 * skillHistory[skillDate].skill_stdev,
        skillHistory[skillDate].skill_mean + 2 * skillHistory[skillDate].skill_stdev
      ]);
    }

    function makeMMRs(skillHistory) {
      return Object.keys(skillHistory).map(skillDate => [
        +new Date(skillDate),
        skillHistory[skillDate].skill_mean - 2 * skillHistory[skillDate].skill_stdev
      ]);
    }

    function makeRatings(ratingHistory) {
      return Object.keys(ratingHistory).map(ratingDate => [
        +new Date(ratingDate),
        ratingHistory[ratingDate]
      ]);
    }

    function loadChart(seasonId) {
      const url = seasonId === 0
          ? '/api/profiles/{{ player.player_id }}/skill_history'
          : '/api/profiles/{{ player.player_id }}/skill_history/season/' + seasonId;

      const container = document.getElementById('skill-history');

      return getJson(url).then(responseJson => {
        const confidenceIntervals = makeConfidenceIntervals(responseJson.skill_history);
        const mmrs = makeMMRs(responseJson.skill_history);
        const ratings = makeRatings(responseJson.rating_history);
        skillChart = Highcharts.chart(container, formatChart(confidenceIntervals, mmrs, ratings));
      });
    }

    function unselectSeason(season) {
      const path = season === 0 ? '' : `/season/${season}`;
      const label = season === 0 ? 'all' : season;
      seasonSelectors[season].innerHTML = `<a href="#${path}">${label}</a>`;
    }

    function selectSeason(season) {
      const label = season === 0 ? 'all' : season;
      seasonSelectors[season].innerHTML = `<strong>${label}</strong>`;
    }

    function onSelectSeason(event) {
      event.preventDefault();
      let selection = parseInt(event.target.firstChild.nodeValue);
      if (isNaN(selection)) {
        selection = 0;
      }
      if (selection !== selectedSeason) {
        unselectSeason(selectedSeason);
        selectSeason(selection);
        selectedSeason = selection;
        loadChart(selectedSeason).then(() => toggleRatings(false));
      }
    }

    function toggleRatings(showRatings) {
      if (showRatings) {
        ratingToggle.value = 'Hide impact';
        skillChart.series[2].show();
      } else {
        ratingToggle.value = 'Show impact';
        skillChart.series[2].hide();
      }
    }

    function onRatingsToggle(event) {
      if (skillChart == null) {
        return;
      }
      toggleRatings(!skillChart.series[2].visible);
    }

    document.addEventListener('DOMContentLoaded', () => {
      seasonSelectors.forEach(element =>
          element.addEventListener('click', onSelectSeason));
      document.getElementById('toggle-rating')
        .addEventListener('click', onRatingsToggle);
      loadChart({{ current_season }});
    });
  }).call(window);
</script>


</body>
</html>
