<html lang="en">
<head>
  <title>{{ member_names }} Team Details</title>
</head>
<body>
<h1>Team details: {{ member_names }}</h1>

<p>{{ rounds_won }} : {{ rounds_lost }}</p>

<h2>Team members</h2>
<ul>
  {% for member in members %}
  <li>{{ member.steam_name }}: {{ member.skill_group }}</li>
  {% endfor %}
</ul>

<h2>Team Records</h2>

{% for record in opponent_records %}
  <h3>{{ record.rounds_won }} : {{ record.rounds_lost }}</h3>
  <p>Quality: {{ (100 * record.quality)|int }}%</p>
  <p title="Chance of defeating this opponent">Win probability: {{ (100 * record.win_probability)|int }}%</p>
  <p><a href="/teams/{{ record.opponent_team_id }}">Opponent team details</a></p>
  <ul>
    {% for player in record.opponent_team %}
      <li>{{ player.steam_name }}</li>
    {% endfor %}
  </ul>
{% endfor %}

</body>
</html>
